body{
    background-color: rgb(110, 108, 108);
    text-align: center;
}
header{
    text-align: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 5px 5px 10px black;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(88, 86, 86);
    color: white;
    font-size: 1.2vw;
}

main > div{
    border-radius: 8px;
    border: 4pt solid rgb(86, 86, 83);
    background-color: rgb(152, 153, 150);
    box-shadow: 10px 10px 10px;
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 7%;
    padding-bottom: 1%;
    text-align: center;
    z-index: 300;
    cursor: pointer;
}
#bac{
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 180px;
    background-image: url(../img/bac.jpg);
    background-size: cover;
}

html{
    font-family:Andale Mono, monospace;
}
a{
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 480px){
    #ancient{
        background-image: url(../img/ancient-ph.jpg);
        background-size: auto;
    }
    #midle{
        background-image: url(../img/midle-ph.jpg);
        background-size: auto;
    }
    #sev{
        background-image: url(../img/sev-ph.jpg);
        background-size: auto;
    }
    #now{
        background-image: url(../img/now-ph.jpg);
        background-size: auto;
    }
    header{
        font-size: 3vw;
    }
    main{
        padding-top: 30%;
        
    }
    main > div{
        font-size: 5vw;
    }
}
@media only screen and (min-width: 481px){
    #ancient{
        background-image: url(../img/ancient.png);
        background-size: cover;
    }
    #midle{
        background-image: url(../img/midle.png);
        background-size: cover;
    }
    #sev{
        background-image: url(../img/sev.png);
        background-size: cover;
    }
    #now{
        background-image: url(../img/now.png);
        background-size: cover;
    }
    header{
        font-size: 1.2vw;
    }
    main{
        padding-top: 12% ;
    }
    main > div{
        font-size: 1.6vw;
    }
}