body{
    background-color: rgb(110, 108, 108);
    text-align: center;

}
header{
    text-align: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 5px 5px 10px black;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(88, 86, 86);
    color: white;
}
html{
    font-family:Andale Mono, monospace;
    color: rgb(216, 209, 209);
}
a{
    color: white;
}
#bac{
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 180px;
    background-image: url(../img/bac.jpg);
    background-size: cover;
}
.text{
    border-radius: 10px;
    border: black 2px solid;
    backdrop-filter: blur(30px);
}
img{
    border-radius: 30px;
    border: 2px black solid;
}
.oth > div{
    border-radius: 10px;
    border: black 2px solid;
    backdrop-filter: blur(20px);
}
@media only screen and (max-width: 480px){
    .tws{
        background-image: url(../img/twt-b-ph.jpg);
        background-size: auto;
    }
    .twa{
        background-image: url(../img/twa-b-ph.jpg);
        background-size: auto;
    }
    .aoh{
        background-image: url(../img/aoh-b-ph.jpg);
        background-size: auto;
    }
    .kcd{
        background-image: url(../img/kcd-b-ph.jpg);
        background-size: auto;
    }
    .crk{
        background-image: url(../img/crk-b-ph.jpg);
        background-size: auto;
    }
    .acb{
        background-image: url(../img/acb-b-ph.jpg);
        background-size: auto;
    }
    .rdr{
        background-image: url(../img/rdr-b-ph.jpg);
        background-size: auto;
    }
    .vic{
        background-image: url(../img/vic-b-ph.jpg);
        background-size: auto;
    }
    .acr{
        background-image: url(../img/acr-b-ph.jpg);
        background-size: auto;
    }
    .hoi{
        background-image: url(../img/hoi-b-ph.jpg);
        background-size: auto;
    }
    .cod{
        background-image: url(../img/cod-b-ph.jpg);
        background-size: auto;
    }
    header{
        font-size: 3vw;
    }
    main{
        padding-top: 30%;
        
    }
    .text{
        padding: 1%;
        margin: 2%;
        display: block;
        font-size: 3vw;
    }
    img{
        display: block;
        height: 20%;
        width: 100%;
        margin-bottom: 2%;

    }
    .oth > div{
        display: block;
        font-size: 4vw;
        width: 70%;
        margin-left: 15%;
        padding: 2%;
    }
    .oth{
        display: block;
        margin: 0px;
    }
    #black{
        color: black;
    }
    .black{
        color: black;
    }
    #dem{
        font-size: 3.5vw;
        text-align: left;
    }
}
@media only screen and (min-width: 481px){
    .tws{
        background-image: url(../img/tws-b.jpg);
        background-size: cover;
    }
    .twa{
        background-image: url(../img/twa-b.jpg);
        background-size: cover;
    }
    .aoh{
        background-image: url(../img/aoh-b.jpg);
        background-size: cover;
    }
    .kcd{
        background-image: url(../img/kcd-b.jpg);
        background-size: cover;
    }
    .crk{
        background-image: url(../img/crk-b.jpg);
        background-size: cover;
    }
    .acb{
        background-image: url(../img/acb-b.jpg);
        background-size: cover;
    }
    .rdr{
        background-image: url(../img/rdr-b.jpg);
        background-size: cover;
    }
    .vic{
        background-image: url(../img/vic-b.jpg);
        background-size: cover;
    }
    .acr{
        background-image: url(../img/acr-b.jpg);
        background-size: cover;
    }
    .hoi{
        background-image: url(../img/hoi-b.jpg);
        background-size: cover;
    }
    .cod{
        background-image: url(../img/cod-b.jpg);
        background-size: cover;
    }
    main{
        padding-top: 10% ;
    }
    header{
        font-size: 1.2vw;
    }
    .text{
        padding: 1%;
        margin: 2%;
        display: inline-block;
        font-size: 1.7vw;
        width: 32%;
        vertical-align: top;
    }
    img{
        height: 50%;
        width: 80%;
    }
    .oth > div{
        display: inline-block;
        font-size: 2vw;
        padding: 1%;
        margin: 2%;
    }
    .oth{
        display: inline-block;
        margin: 2%;
        margin-left: 5%;
        vertical-align: top;
        width: 50%;
        padding: 0px;
    }
    #dem{
        font-size: 1.5vw;
        text-align: left;
    }
    .black-c{
        color: rgb(28, 26, 26);
    }
}
