body{
    background-color: rgb(110, 108, 108);
    text-align: center;
    
    background-repeat: no-repeat;
    
}
header{
    text-align: center;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 5px 5px 10px black;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    background-color: rgb(88, 86, 86);
    color: white;
}

div{
    border-radius: 10px;
    border: black 2px solid;
    backdrop-filter: blur(30px);
    
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: black;
}
html{
    font-family:Andale Mono, monospace;
}
@media only screen and (max-width: 480px){
    body{
        background-image: url(../img/fon-ph.jpg);
        background-size: auto;
    }
    header{
        font-size: 3vw;
    }
    div{
        padding: 1.7%;
        margin: 2%;
        margin-top: 4%;
        margin-left: 4%;
        font-size: 4vw;
        display: block;
        width: 31%;
        &:active{
            border: rgb(59, 59, 59) 2px solid;
            transition: 0.5s;
        }
    }
    #des{
        display: inline-block;
        position: absolute;
        right: auto;
        top:14%;
        width: 40%;
        margin-left: 0;
        font-size: 3.4vw;
        padding: 1.4%;
        
        
    }
    main{
        padding-top: 30%;
        
    }
}
@media only screen and (min-width: 481px){
    body{
        background-image: url(../img/fon.png);
        background-size: cover;
    }
    header{
        font-size: 1.2vw;
    }
    div{
        padding: 1%;
        margin: 2%;
        font-size: 1.6vw;
        display: inline-block;
        &:hover{
            font-size: 1.96vw;
            margin: 0.7%;
            transition: 0.5s;
        }
    }
    #now{
        background-color: rgb(236 126 93 / 47%);
    }
    #des{
        display: inline-block;
        position: absolute;
        right: 0px;
        bottom: 5%;
        padding: 0.5%;
        padding-top: 0.1%;
        padding-bottom: 0.1%;
        width: 30%;
        font-size: 1.4vw;
        &:hover{
            font-size: 1.4vw;
            margin: 2%;
            transition: 0.5s;
        }
    }
    main{
        padding-top: 10% ;
    }
}